<div class="footer">
    <div class="container">
        <div class="builtBy"> Built by TechLab
        </div>
        <div class="accessibility" onClick="turnOnAccessibility()"> Accessibility Mode
        </div>
    </div>
</div>