<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><p><img src="/images/blue-monitor-icon.png" class="logo"><span title="Home"> Screen-Hub</span></p></a>
        </div>
        <ul class="nav navbar-nav">
          <!--<li class="active"><a href="/">Home</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="" href="/screens/add">Add Screen <span class="glyphicon glyphicon-plus" title="Add Screen"></span></a></li>
        </ul>
    </div>
</nav>